#N-leg {
    animation: top-down 0.5s ease-out forwards;
    animation-delay: .5s;
    transform: translateY(-100%);
}
#E-leg {
    animation: top-down 0.5s ease-out forwards;
    animation-delay: 0.625s;
    transform: translateY(-100%);
}
#S-leg {
    animation: top-down 0.5s ease-out forwards;
    animation-delay: .75s;
    transform: translateY(-100%);
}
#W-leg {
    animation: top-down 0.5s ease-out forwards;
    animation-delay: .875s;
    transform: translateY(-100%);
}
#NE-bar {
    animation: top-down 0.5s ease-out forwards;
    animation-delay: 1.0s;
    transform: translateY(-100%);
}
#SE-bar {
    animation: top-down 0.5s ease-out forwards;
    animation-delay: 1.125s;
    transform: translateY(-100%);
}
#SW-bar {
    animation: top-down 0.5s ease-out forwards;
    animation-delay: 1.25s;
    transform: translateY(-100%);
}
#NW-bar {
    animation: top-down 0.5s ease-out forwards;
    animation-delay: 1.375s;
    transform: translateY(-100%);
}
#NW-strap {
    animation: 
        NW-strap-movement-1 0.5s ease-out forwards 1.5s,
        NW-strap-movement-2 0.5s ease-in-out forwards 7.5s;
    transform: translateY(-100%);
}
#NE-strap {
    animation: 
        NE-strap-movement-1 0.5s ease-out forwards 4.5s,
        NE-strap-movement-2 0.5s ease-in-out forwards 7.5s;
    transform: translateY(-100%);
}
#SE-strap {
    animation: top-down 0.5s ease-out forwards 7.5s;
    transform: translateY(-100%);
}
#SW-strap {
    animation: top-down 0.5s ease-out forwards 7.5s;
    transform: translateY(-100%);
}
#player-1-wrapper {
    animation: 
        player-1-movement-1 1s ease-in-out forwards 1s,
        player-1-movement-2 0.5s ease-in-out forwards 4.5s,
        player-1-movement-3 0.5s ease-in-out forwards 7.5s;
    transform: translateY(-100%);
}

#player-1 {
    animation: 
        hop 0.2s linear forwards 1.9s,
        hop 0.2s linear forwards 3.9s,
        hop 0.2s linear forwards 6.9s,
        hop 0.2s linear forwards 9.9s;
}

#player-2 {
    animation: player-2-movement 1s ease-in-out forwards 7s;
    transform: translateY(-100%);
}
#player-3-wrapper {
    animation: 
        player-3-movement-1 1s ease-in-out forwards 4s,
        player-3-movement-2 0.5s ease-in-out forwards 7.5s;
    transform: translateY(-100%);
}
#player-3 {
    animation: hop 0.2s linear forwards 8.9s;
}
#player-4 {
    animation: player-4-movement 1s ease-in-out forwards 7s;
    transform: translateY(-100%);
}
#player-5-wrapper {
    animation: 
        player-5-movement-1 1s ease-in-out forwards 4s,
        player-5-movement-2 0.5s ease-in-out forwards 7.5s;
    transform: translateY(-100%);
}
#player-5 {
    animation: 
        hop 0.2s linear forwards 4.9s,
        hop 0.2s linear forwards 7.9s;
}
#player-6 {
    animation: player-6-movement 1s ease-in-out forwards 7s;
    transform: translateY(-100%);
}
#player-7 {
    animation: player-7-movement 1s ease-in-out forwards 7s;
    transform: translateY(-100%);
}
#player-8 {
    animation: player-8-movement 1s ease-in-out forwards 7s;
    transform: translateY(-100%);
}
#player-9-wrapper {
    animation: 
        player-9-movement-1 1s ease-in-out forwards 1s,
        player-9-movement-2 0.5s ease-in-out forwards 4.5s,
        player-9-movement-3 0.5s ease-in-out forwards 7.5s;
    transform: translateY(-100%);
}
#player-9 {
    animation: 
        hop 0.2s linear forwards 2.9s,
        hop 0.2s linear forwards 5.9s,
        hop 0.2s linear forwards 10.9s;
}
#ball-wrapper {
    animation:
        ball-fall 0.5s 1.5s, 
        ball-bounce 0.5s infinite alternate 2s;
    animation-timing-function: 
        cubic-bezier(0.75, 0, 1, 0.75), 
        cubic-bezier(0, 0.75, 0.75, 1);
    transform: translateY(-100%);
}
#ball {
    animation: ball-travel 10s linear 2s;
}

/* keyframes */

/* general */
@keyframes top-down {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

/* straps */

/* NW strap */
@keyframes NW-strap-movement-1 {
    0% { transform: translate(17.5px, -100%); }
    100% { transform: translate(17.5px, 8.7px); }
}
@keyframes NW-strap-movement-2 {
    0% { transform: translate(17.5px, 8.7px); }
    100% { transform: translate(0px, 0px); }
}

/* NE strap */
@keyframes NE-strap-movement-1 {
    0% { transform: translate(-17.5px, -100%); }
    100% { transform: translate(-17.5px, 8.7px); }
}
@keyframes NE-strap-movement-2 {
    0% { transform: translate(-17.5px, 8.7px); }
    100% { transform: translate(0px, 0px); }
}

/* players */
@keyframes hop {
    0%, 100% { transform: translate(0px, 0px); }
    50% { transform: translate(0px, -15px); }
}


/* player 1 */
@keyframes player-1-movement-1 {
    0% { transform: translate(-183.6px, -173px); }
    100% { transform: translate(49.5px, -16.4px); }
}
@keyframes player-1-movement-2 {
    0% { transform: translate(49.5px, -16.4px); }
    100% { transform: translate(19.8px, -1.5px); }
}
@keyframes player-1-movement-3 {
    0% { transform: translate(19.8px, -1.5px); }
    100% { transform: translate(0px, 0px); }
}

/* player 2 */
@keyframes player-2-movement {
    0% { transform: translate(-153.7px, -149.6px); }
    100% { transform: translate(0px, 0px); }
}

/* player 3 */
@keyframes player-3-movement-1 {
    0% { transform: translate(-193.3px, -136.2px); }
    100% { transform: translate(0px, 6.4px); }
}
@keyframes player-3-movement-2 {
    0% { transform: translate(0px, 6.4px); }
    100% { transform: translate(0px, 0px); }
}

/* player 4 */
@keyframes player-4-movement {
    0% { transform: translate(232.9px, -149.6px); }
    100% { transform: translate(0px, 0px); }
}

/* player 5 */
@keyframes player-5-movement-1 {
    0% { transform: translate(200.2px, 115.3px); }
    100% { transform: translate(-19.8px, 1.5px); }
}
@keyframes player-5-movement-2 {
    0% { transform: translate(-19.8px, 1.5px); }
    100% { transform: translate(0px, 0px); }
}

/* player 6 */
@keyframes player-6-movement {
    0% { transform: translate(232.9px, 189.2px); }
    100% { transform: translate(0px, 0px); }
}

/* player 7 */
@keyframes player-7-movement {
    0% { transform: translate(193.3px, 209px); }
    100% { transform: translate(0px, 0px); }
}

/* player 8 */
@keyframes player-8-movement {
    0% { transform: translate(-153.7px, 189.2px); }
    100% { transform: translate(0px, 0px); }
}

/* player 9 */
@keyframes player-9-movement-1 {
    0% { transform: translate(270.4px, 235.1px); }
    100% { transform: translate(29.7px, 18.3px); }
}
@keyframes player-9-movement-2 {
    0% { transform: translate(29.7px, 18.3px); }
    100% { transform: translate(0px, 33.2px); }
}
@keyframes player-9-movement-3 {
    0% { transform: translate(0px, 33.2px); }
    100% { transform: translate(0px, 0px); }
}

/* ball */

@keyframes ball-fall {
    0% { transform: translate(-29.7px, -98.7px); }
    100% { transform: translate(-29.7px, -15.3px); }
}

@keyframes ball-bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-80px); }
}

@keyframes ball-travel {
    0% { transform: translate(-29.7px, -15.3px); }
    10% { transform: translate(29.7px, 15.3px); }
    20% { transform: translate(-29.7px, -15.3px); }
    30% { transform: translate(60.2px, 2.6px); }
    40% { transform: translate(0px, 31.4px); }
    50% { transform: translate(-58.7px, 2.6px); }
    60% { transform: translate(79.2px, 0px); }
    70% { transform: translate(0px, -39.7px); }
    80% { transform: translate(-79.3px, 0px); }
    90% { transform: translate(0px, 0px); }
    100% { transform: translate(0px, -39.7px); }
}